.leaflet-control-timeserieswms {
}

.leaflet-control-timeserieswms-active {
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 10px 19px 4px 7px;
}

.leaflet-control-timeserieswms-active a.leaflet-control-timeserieswms-button {
    display: none;
}

.leaflet-control-timeserieswms-container {
    margin: auto;
    text-align: center;
    position: relative;
}

.leaflet-control-timeserieswms-opacityslider,
.leaflet-control-timeserieswms-positionslider,
.leaflet-control-timeserieswms-label {
    display: block;
    clear: both;
    margin-top: 15px;
}

.leaflet-control-timeserieswms-timestamp {
    text-align: center;
    margin: auto;
    clear: both;
    margin-top: 15px;
}

.leaflet-control-timeserieswms-close {
    position: absolute;
    right: 3px;
    top: 5px;
    width: 16px;
    height: 16px;
    opacity: 0.3;
}

.leaflet-control-timeserieswms-close:hover {
    opacity: 1;
    cursor: pointer;
}

.leaflet-control-timeserieswms-close:before,
.leaflet-control-timeserieswms-close:after {
    position: absolute;
    right: 8px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #333;
}

.leaflet-control-timeserieswms-close:before {
    transform: rotate(45deg);
}

.leaflet-control-timeserieswms-close:after {
    transform: rotate(-45deg);
}

.leaflet-control-timeserieswms a.leaflet-control-timeserieswms-button {
    background: #fff url(images/timeserieswms.png) no-repeat 0 0;
    background-size: 26px 26px;
}

.leaflet-touch .leaflet-control-timeserieswms a {
    background-position: 2px 2px;
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .leaflet-control-timeserieswms a {
        background-image: url(images/timeserieswms@2x.png);
    }
}